{{#type.h1}}
	<h1 class='{{ classNames }}'>{{ text }}</h1>
{{/type.h1}}

{{#type.h2}}
	<h2 class='{{ classNames }}'>{{ text }}</h2>
{{/type.h2}}

{{#type.h3}}
	<h3 class='{{ classNames }}'>{{ text }}</h3>
{{/type.h3}}

{{#type.paragraph}}
	<p class='{{ classNames }}'>{{ text }}</p>
{{/type.paragraph}}

{{#type.small}}
	<p class='{{ classNames }}'><small>{{ text }}</small></p>
{{/type.small}}

{{#type.divider}}
	<div class="{{ classNames}}">{{ text }}</div>
{{/type.divider}}

{{#type.image}}
	 <img class='{{ classNames }}' src='images/{{ src }}' alt='{{ description }}' title='{{ description }}' />
{{/type.image}}

{{#type.link}}
	<a class='{{ classNames }}' target="{{ target }}" href='{{ address }}' >{{ text }}</a>
{{/type.link}}

{{#type.definitionList}}
	<aside class='{{ classNames }}'>
		<dl>
			{{#list}}
			<dt>{{ term }}</dt>
			<dd>{{ definition }}</dd>
			{{/list}}
		</dl>
	</aside>
{{/type.definitionList}}

{{#type.stringList}}
	<ul class='string-list {{ classNames }}'>
		{{#list}}
		<li>{{ . }}</li>
		{{/list}}
	</ul>
{{/type.stringList}}

{{#type.youtube}}
	<iframe class="videoembed {{ classNames}}" width="560" height="315" src="http://www.youtube.com/embed/{{ videoId}}" frameborder="0" allowfullscreen>
	</iframe>
{{/type.youtube}}

{{#type.vimeo}}
	<iframe class="videoembed {{classNames}}" src="http://player.vimeo.com/video/{{ videoId }}" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen>
	</iframe> 
{{/type.vimeo}}
